<div class="container">
    <div class="row">
        <drug drugs="drugsCtrl.drugs"></drug>
    </div>
</div>

<div class="container">
    <div class="paging text-center">
        <div ng-if="drugsCtrl.totalItems">
            <uib-pagination ng-model="drugsCtrl.currentPage"
                            total-items="drugsCtrl.totalItems"
                            max-size="drugsCtrl.maxSize"
                            ng-change="drugsCtrl.pageChanged(drugsCtrl.currentPage)"
                            items-per-page="drugsCtrl.perPage"
                            boundary-link-numbers="true"
                            rotate="false"
                            class="pagination-sm">
            </uib-pagination>
        </div>
    </div>

</div>