!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      New drugs
    - @new_apps.each do |app|
      %span
        = app.drug.brand_name + ' '

    was added.

    %br
    %p
      Thanks for joining and have a great day!