!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      No drugs today.

    %br
    %p
      Thanks for joining and have a great day!